$default-font: "Montserrat", sans-serif;
$card-text: "Open Sans", sans-serif;
$menu-fontColor: #f03000;
$menu-fontColor--hover: #ffffff;
$menu-backgroundColor--hover: #f03000;
$cena-backgroundColor: #f03000;
$cena-fontColor: #ffffff;
$nabidka-fontColor: #ffffff;
$card-fontColor: #000000;
$card-dateColor: #888888;
$card-headerColor: #f03000;
$card-backgroundColor: #f0f0f0;
$footer-backgroundColor: #444444;
$footer-fontColor: #ffffff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-family: $default-font;
}

// mobil

body{
    width: 480px;
    margin: 0 auto;
    text-align: center;
}

.logo{
    margin: 36px 0 10px 0;
}

.menu{
    //margin: 0 20px 30px 46px;
    font-size: 18px;
}
.menu__tab{
    display: inline-block;
}

.menu__a{
    display: block;
    text-decoration: none;
    color: $menu-fontColor;
    padding: 21px 20px;

    &:hover{
        background-color: $menu-backgroundColor--hover;
        color: $menu-fontColor--hover;
    }
}

.nabidka{
    margin: 10px 20px;
}

.main__nabidka-frst{
    min-height: 240px;
    width: 440px;
    background-image: url(images/palmy.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    color: $nabidka-fontColor;
    //display: flex;
}

.cena{
    width: 110px;
    height: 44px;
    padding: 10px 11px;
    background-color: $cena-backgroundColor;
    color: $cena-fontColor;
    font-size: 18px;
}

.main__nabidka-frst__cena{
    margin-bottom: 80px;
}

.header1{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: left;
}

.popis{
    font-size: 16px;
}

.main__nabidka-scnd{
    min-height: 150px;
    width: 440px;
    margin: 20px 0;
    background-image: url(images/jezero2.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    color: $nabidka-fontColor;
}

.main__nabidka-scnd__cena{
    margin-bottom: 37px;
}

.header2{
    font-size: 20px;
    text-align: left;
}

.main__nabidka-thrd{
    min-height: 150px;
    width: 440px;
    background-image: url(images/nakole.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    color: $nabidka-fontColor;
}

.main__nabidka-thrd__cena{
    margin-bottom: 37px;
}

.sluzby{
    margin: 29px 20px 40px 20px;
}

.card{
    padding: 20px;
    width: 440px;
    height: 118px;
    background-color: $card-backgroundColor;
}

.podpora, .letiste, .svet, .bezpeci{
    display: flex;
    align-items: center;
}

.podpora-img, .letiste-img, .svet-img, .bezpeci-img{
    margin-right: 28px;
    flex: 1 1 40px;
}

.podpora-img, .letiste-img{
    width: 40px;
}
.podpora-text, .letiste-text, .svet-text, .bezpeci-text{
    text-align: left;
    flex: 1 1 80%;
}

.podpora__h3, .letiste__h3, .svet__h3, .bezpeci__h3{
    color: $card-headerColor;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 400;
}

.popis-sluzby{
    font-family: $card-text;
    font-size: 16px;
}

.letiste, .svet, .bezpeci{
    margin-top: 10px;
}

.lastMinute{
    text-align: left;
}

.lastMinute__nabidka-frst{
    min-height: 240px;
    width: 440px;
    background-image: url(images/lodicka.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    margin-top: 23px;
    color: $nabidka-fontColor;
}

.lastMinute__nabidka-frst__h2{
    margin: 20px 0 24px 0;
    font-size: 28px;
}

.lastMinute__nabidka-scnd{
    min-height: 150px;
    width: 440px;
    background-image: url(images/podkova.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    margin: 20px 0;
    color: $nabidka-fontColor;
}

.lastMinute__nabidka-scnd__cena{
    margin-bottom: 37px;
}

.lastMinute__nabidka-thrd{
    min-height: 150px;
    width: 440px;
    background-image: url(images/zatoka.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    color: $nabidka-fontColor;
}

.lastMinute__nabidka-thrd__cena{
    margin-bottom: 37px;
}

.novinky{
    margin: 40px 20px;
    text-align: left;
}

.novinky__card-frst{
     margin: 23px 0 20px 0;
     height: 157px;
}

.date{
    color: $card-dateColor;
    margin-bottom: 10px;
}

.novinky__card-frst__h3{
    font-size: 16px;
    color: $card-headerColor;
    font-weight: 400;
    margin-bottom: 10px;
}

.novinky__card-scnd{
    height: 178px;
}

.novinky__card-scnd__h3{
    font-size: 16px;
    color: $card-headerColor;
    font-weight: 400;
    margin-bottom: 10px;
}

.novinky__card-thrd{
    height: 176px;
    margin: 20px 0 40px 0;
}

.novinky__card-thrd__h3{
    font-size: 16px;
    color: $card-headerColor;
    font-weight: 400;
    margin-bottom: 10px;
}

.footer{
    width: 440px;
    padding: 20px;
    margin: 0 20px 40px 20px;
    background-color: $footer-backgroundColor;
    color: $footer-fontColor;
    
}